* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgba(251, 251, 251, 1); */
  font-family: "Inter", sans-serif;
}

/* shared style */
.btn-style {
  border: none;
  border-radius: 4px;
  background: #30b868;
  padding: 12px 16px;
  color: rgba(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* main style */

/* Wrapper div */
.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

/* navbar */

header nav {
  padding: 16px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-content ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.nav-content ul li {
  list-style: none;
}
.nav-content ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.hero {
  width: 100%;
  height: 674px;
  background-image: url("./assets/hero-bg.png");
  background-color: #627382;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content h1 {
  font-size: 72px;
  line-height: 84px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.hero-content h1:nth-of-type(2) {
  margin-bottom: 16px;
}

.hero-content h1 span {
  color: #30b868;
  padding-bottom: 50px;
}

.hero-content p {
  text-align: center;
  color: #ffffff;
  line-height: 24px;
  font-weight: 400;
}

.below-btn {
  text-align: center;
  margin-top: 32px;
}

.below-btn .below-btn-right {
  margin-left: 16px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  background-color: transparent;
}

.container {
  max-width: 1360px;
  margin: 0 120px;
}

.container .note-structure {
  padding-top: 20px;
}

.container .note-structure .note-content {
  text-align: center;
}

.container .note-structure .note-content h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.container .note-structure .note-content p {
  margin-bottom: 44px;
  color: #627382;
}

.note-card-container {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 120px;
}

.note-card .card-img {
  width: 60px;
  height: 60px;
  background-color: #f95555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  padding: 24px;
  gap: 16px;
}

.note-card p {
  font-size: 16px;
  text-align: center;
  color: #627382;
}

.note-card h3 {
  font-size: 16px;
  font-size: 24px;
  text-align: center;
}

.Second-Brain {
  width: 100%;
  max-width: 1360px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.Second-Brain .Second-Brain-img {
  max-width: 600px;
}

.Second-Brain .Second-Brain-img img {
  width: 100%;
}

.Second-Brain .Second-Brain-content {
  max-width: 700px;
  display: flex;
  flex-direction: column;

  padding-right: 90px;
}

.Second-Brain .Second-Brain-content h3 {
  color: #469165;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.Second-Brain .Second-Brain-content h2 {
  font-size: 48px;
  margin-bottom: 16px;
}

.Second-Brain .Second-Brain-content p {
  font-size: 16px;
  color: #627382;
  margin-bottom: 40px;
  padding-right: 230px;
}

.Second-Brain .Second-Brain-content .second-brain-list {
  font-weight: 500;
  line-height: 20px;
  padding-left: 25px;
}

.Second-Brain .Second-Brain-content .second-brain-list li {
  list-style-image: url("./assets/CheckCircle.png");
  align-items: center;
}

.early-access-section {
  margin-top: 120px;
  padding: 80px 40px;
  border-radius: 12px;
  background: #f7f6f2;
  margin-bottom: 120px;
}

.early-access-section .early-access-content {
  text-align: center;
}

.early-access-section .early-access-content h2 {
  font-size: 40px;
  margin-bottom: 16px;
}

.early-access-section .early-access-content p {
  color: #627382;
}

.early-access-section .early-access-content .early-access-btn {
  border-radius: 4px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  margin-top: 24px;
}

.early-access-section .early-access-content .early-access-list {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.early-access-list ul {
  display: flex;
  align-items: center;
  margin-top: 16px;
  color: #627382;
}

.early-access-list ul .early-access-without-bullet-list {
  list-style: none;
  margin-right: 25px;
}
